<aside class="main__aside hidden-lg">
  <div class="box-default">
    <div class="search-block" data-da="offcanvas-search, first, 1320">
      <form action="#">
        <div class="search-block__input">
          <input type="text" placeholder="Искать..." class="form-input form-input--warning js-search-input">
          <div class="search-block__actions">
            <button type="submit" class="search-block__submit">
              <svg class="icon icon-zoom">
                <use xlink:href="img/sprite.svg#zoom"></use>
              </svg>
            </button>
            <button type="reset" class="search-block__clear js-search-clear">
              <svg class="icon icon-close2">
                <use xlink:href="img/sprite.svg#close2"></use>
              </svg>
            </button>
          </div>
        </div>
      </form>
    </div>

  </div>
  <div class="box ">
    <div class="box__body">
      <ul class="menu-toggle">
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">Колготки классика</a>
          <ul class="menu">
            <li><a href="#">летние 5-12 ден</a></li>
            <li><a href="#">классика 13-40 ден</a></li>
            <li><a href="#">плотные от 50 ден</a></li>
            <li><a href="#">заниженная талия</a></li>
            <li><a href="#">бесшовные</a></li>
            <li><a href="#">блестящие</a></li>
            <li><a href="#">тюлевые</a></li>
            <li><a href="#">кружевная резинка</a></li>
            <li><a href="#">нейлоновые</a></li>
            <li><a href="#">антицеллюлит, массаж</a></li>
            <li><a href="#">открытые пальцы</a></li>
            <li><a href="#">эротические</a></li>
            <li><a href="#">со швом</a></li>
            <li><a href="#">корректирующие</a></li>
            <li><a href="#">лечебные</a></li>
            <li><a href="#">для беременных</a></li>
            <li><a href="#">танцевальные</a></li>
            <li><a href="#">сеточка</a></li>
            <li><a href="#">с вискозой</a></li>
            <li><a href="#">большие размеры</a></li>
            <li><a href="#">кашемировые</a></li>
            <li><a href="#">с хлопком</a></li>
            <li><a href="#">термо-колготки</a></li>
            <li><a href="#">шерстяные</a></li>
            <li><a href="#">мужские колготки</a></li>
            <li><a href="#">комбинезоны</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">КОЛГОТКИ ФАНТАЗИЯ</a>
          <ul class="menu">
            <li><a href="#">цветочный рисунок</a></li>
            <li><a href="#">эффект ботфортов</a></li>
            <li><a href="#">имитация чулка</a></li>
            <li><a href="#">эффект татуировки</a></li>
            <li><a href="#">имитация гольф</a></li>
            <li><a href="#">геометрия</a></li>
            <li><a href="#">люрекс, блестящие</a></li>
            <li><a href="#">со стразами</a></li>
            <li><a href="#">шов с рисунком</a></li>
            <li><a href="#">анималистический принт</a></li>
            <li><a href="#">кружевные</a></li>
            <li><a href="#">сетка-фантазия</a></li>
            <li><a href="#">горох, ромб, сердечки</a></li>
            <li><a href="#">цветные</a></li>
            <li><a href="#">гипюровые, тюлевые</a></li>
            <li><a href="#">хлопковые</a></li>
            <li><a href="#">шерстяные</a></li>
            <li><a href="#">большие размеры</a></li>
            <li><a href="#">новогодние</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">ДЕТСКОЕ</a>
          <ul class="menu">
            <li><a href="#">колготки</a></li>
            <li><a href="#">лосины</a></li>
            <li><a href="#">носки, гольфы</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">ЧУЛКИ НА СИЛИКОНЕ</a>
          <ul class="menu">
            <li><a href="#">классические</a></li>
            <li><a href="#">плотные, теплые</a></li>
            <li><a href="#">блестящие</a></li>
            <li><a href="#">тюлевые</a></li>
            <li><a href="#">нейлоновые</a></li>
            <li><a href="#">с бантом, лентами</a></li>
            <li><a href="#">со швом</a></li>
            <li><a href="#">с рисунком</a></li>
            <li><a href="#">цветные, цветная резинка</a></li>
            <li><a href="#">в сетку</a></li>
            <li><a href="#">лечебные</a></li>
            <li><a href="#">большие размеры</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">ЧУЛКИ ПОД ПОЯС</a>
          <ul class="menu">
            <li><a href="#">классические</a></li>
            <li><a href="#">нейлоновые</a></li>
            <li><a href="#">со швом</a></li>
            <li><a href="#">фантазийные</a></li>
            <li><a href="#">чулки + пояс</a></li>
            <li><a href="#">цветные</a></li>
            <li><a href="#">большие размеры</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">ГОЛЬФЫ</a>
          <ul class="menu">
            <li><a href="#">классические</a></li>
            <li><a href="#">фантазийные</a></li>
            <li><a href="#">для полных ног</a></li>
            <li><a href="#">с хлопком</a></li>
            <li><a href="#">с шерстью</a></li>
            <li><a href="#">компрессионные</a></li>
            <li><a href="#">в сетку</a></li>
            <li><a href="#">цветные</a></li>
            <li><a href="#">мужские</a></li>
            <li><a href="#">выше колена</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">НОСКИ ЖЕНСКИЕ</a>
          <ul class="menu">
            <li><a href="#">классические</a></li>
            <li><a href="#">без резинки</a></li>
            <li><a href="#">фантазийные</a></li>
            <li><a href="#">с хлопком</a></li>
            <li><a href="#">бамбуковые</a></li>
            <li><a href="#">короткие, спортивные</a></li>
            <li><a href="#">шерстяные</a></li>
            <li><a href="#">прикольные</a></li>
            <li><a href="#">открытые пальцы</a></li>
            <li><a href="#">цветные</a></li>
            <li><a href="#">в сеточку</a></li>
            <li><a href="#">новогодние</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">НОСКИ МУЖСКИЕ</a>
          <ul class="menu">
            <li><a href="#">с хлопком</a></li>
            <li><a href="#">короткие, спортивные</a></li>
            <li><a href="#">бамбуковые</a></li>
            <li><a href="#">термо-носки</a></li>
            <li><a href="#">с шерстью</a></li>
            <li><a href="#">лечебные</a></li>
            <li><a href="#">прикольные</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">ЛЕГГИНСЫ-ЛОСИНЫ</a>
          <ul class="menu">
            <li><a href="#">классические</a></li>
            <li><a href="#">большие размеры</a></li>
            <li><a href="#">леггинсы-брюки</a></li>
            <li><a href="#">бесшовные</a></li>
            <li><a href="#">под джинсы</a></li>
            <li><a href="#">под кожу</a></li>
            <li><a href="#">термо-лосины</a></li>
            <li><a href="#">шерсть и хлопок</a></li>
            <li><a href="#">утягивающие, push up</a></li>
            <li><a href="#">короткие, капри</a></li>
            <li><a href="#">блестящие</a></li>
            <li><a href="#">со штрипками</a></li>
            <li><a href="#">фантазийные</a></li>
            <li><a href="#">цветные</a></li>
            <li><a href="#">в сетку, гипюр</a></li>
            <li><a href="#">для беременных</a></li>
            <li><a href="#">мужские</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">ПОДСЛЕДНИКИ</a>
          <ul class="menu">
            <li><a href="#">женские</a></li>
            <li><a href="#">мужские</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">ГЕТРЫ</a>
          <ul class="menu">
            <li><a href="#">с хлопком</a></li>
            <li><a href="#">шерстяные</a></li>
            <li><a href="#">ассорти</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">АКСЕССУАРЫ</a>
          <ul class="menu">
            <li><a href="#">пояса для чулок</a></li>
            <li><a href="#">хранение, стирка</a></li>
            <li><a href="#">бандалетки</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">БЮСТГАЛЬТЕРЫ</a>
          <ul class="menu">
            <li><a href="#">пуш-ап</a></li>
            <li><a href="#">плотная чашка</a></li>
            <li><a href="#">мягкая чашка</a></li>
            <li><a href="#">бескаркасные</a></li>
            <li><a href="#">балконет</a></li>
            <li><a href="#">для кормления</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">ТРУСИКИ ЖЕНСКИЕ</a>
          <ul class="menu">
            <li><a href="#">трусики-шорты</a></li>
            <li><a href="#">трусы-бразилиана</a></li>
            <li><a href="#">трусики-слипы</a></li>
            <li><a href="#">трусики-стринги</a></li>
            <li><a href="#">трусики-танга</a></li>
            <li><a href="#">трусы-высокие</a></li>
            <li><a href="#">панталоны</a></li>
            <li><a href="#">обработка лазером</a></li>
            <li><a href="#">для беременных</a></li>
            <li><a href="#">КОМПЛЕКТЫ БЕЛЬЯ</a></li>
            <li><a href="#">со стрингами, бразилиана</a></li>
            <li><a href="#">со слипами</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">КОРРЕКТИРУЮЩЕЕ БЕЛЬЕ</a>
          <ul class="menu">
            <li><a href="#">трусы</a></li>
            <li><a href="#">грации-боди</a></li>
            <li><a href="#">майки</a></li>
            <li><a href="#">грации-платья</a></li>
            <li><a href="#">юбки</a></li>
            <li><a href="#">панталоны, шорты</a></li>
            <li><a href="#">бюстье, полуграции</a></li>
            <li><a href="#">пояса</a></li>
            <li><a href="#">трусы push-up</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">БЕСШОВНОЕ БЕЛЬЕ</a>
          <ul class="menu">
            <li><a href="#">классическое</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">ОДЕЖДА ДЛЯ ФИТНЕСА</a>
          <ul class="menu">
            <li><a href="#">майки, футболки</a></li>
            <li><a href="#">леггинсы, брюки</a></li>
            <li><a href="#">бюсты/топы</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">МИТЕНКИ-ПЕРЧАТКИ</a>
          <ul class="menu">
            <li><a href="#">митенки</a></li>
            <li><a href="#">перчатки</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">БЕЛЬЕ И ОДЕЖДА</a>
          <ul class="menu">
            <li><a href="#">боди женские</a></li>
            <li><a href="#">топы и майки</a></li>
            <li><a href="#">футболки</a></li>
            <li><a href="#">кофты, водолазки</a></li>
            <li><a href="#">ночные сорочки</a></li>
            <li><a href="#">нижние юбки</a></li>
            <li><a href="#">майки для беременных</a></li>
            <li><a href="#">пляжная одежда</a></li>
            <li><a href="#">одежда ассорти</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">ТЕРМОБЕЛЬЕ</a>
          <ul class="menu">
            <li><a href="#">мужское</a></li>
            <li><a href="#">женское</a></li>
            <li><a href="#">unisex</a></li>
            <li><a href="#">детское</a></li>
          </ul>
        </li>
        <li class="menu-toggle__item">
          <a href="#" class="menu-toggle__link _toggle">МУЖСКОЕ БЕЛЬЕ</a>
          <ul class="menu">
            <li><a href="#">трусы-шорты</a></li>
            <li><a href="#">трусы пуш-ап</a></li>
            <li><a href="#">трусы-слипы</a></li>
            <li><a href="#">велосипедки</a></li>
            <li><a href="#">трусы-боксеры</a></li>
            <li><a href="#">стринги, танга</a></li>
            <li><a href="#">майки</a></li>
            <li><a href="#">футболки</a></li>
            <li><a href="#">боди</a></li>
            <li><a href="#">эротическое</a></li>
            <li><a href="#">ночные рубашки</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</aside>