<aside class="main__aside ">
   @@if(!context.login) {
   <div class="box hidden-md">
      <div class="box__head">
         <div class="box__icon">
            <svg class="icon icon-user">
               <use xlink:href="img/sprite.svg#user"></use>
            </svg>
         </div>
         <div class="box__title">Личный кабинет</div>
      </div>
      <div class="box__body">
         <form action="#">
            <div class="form-field">
               <div class="form-wrapper">
                  <span class="form-placeholder">Логин</span>
                  <input type="text" placeholder="" class="form-input form-input--warning">
               </div>
            </div>
            <div class="form-field">
               <div class="form-wrapper">
                  <span class="form-placeholder">Пароль</span>
                  <input type="password" placeholder="" class="form-input form-input--warning">
               </div>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-3">
               <label class="checkbox checkbox--warning">
                  <input type="checkbox" checked />
                  <span class="checkbox__text">Запомнить</span>
               </label>
               <button type="submit" class="btn">
                  ВОЙТИ
               </button>
            </div>

            <div class="d-flex align-items-center flex-wrap gap-2 mt-3">
               <a href="#" class="link">Регистрация</a> <span>|</span> <a href="#popup-forgot-password" class="link _open-modal">Забыли пароль?</a>
            </div>
         </form>
      </div>
   </div>

   <div class="box hidden-md">
      <div class="box__head">
         <div class="box__icon">
            <svg class="icon icon-voice">
               <use xlink:href="img/sprite.svg#voice"></use>
            </svg>
         </div>
         <div class="box__title">Статус и оплата заказа</div>
      </div>
      <div class="box__body">
         <form action="#">
            <div class="form-field">
               <div class="form-wrapper">
                  <span class="form-placeholder">Заказ №</span>
                  <input type="text" placeholder="" class="form-input form-input--warning">
               </div>
            </div>
            <div class="form-field">
               <div class="form-wrapper">
                  <span class="form-placeholder">Телефон</span>
                  <input type="tel" placeholder="" class="form-input form-input--warning">
               </div>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-3 gap-2">
               <button type="submit" class="btn">
                  ОК
               </button>
               <a href="#" class="link">Не знаете номер заказа?</a>
            </div>
         </form>
      </div>
   </div>

   <div class="box ">
      <div class="box__head">
         <div class="box__icon">
            <svg class="icon icon-list">
               <use xlink:href="img/sprite.svg#list"></use>
            </svg>
         </div>
         <div class="box__title">ТОП-10</div>
      </div>
      <div class="box__body">
         <ul class="menu menu--ol">
            <li><a href="#">Cecilia de Rafael Eterno Super </a></li>
            <li><a href="#">Cecilia de Rafael Eterno Super </a></li>
            <li><a href="#">Cecilia de Rafael Vidrio 15</a></li>
            <li><a href="#">Cecilia de Rafael Eterno 20</a></li>
            <li><a href="#">Cecilia de Rafael Sevilla 15</a></li>
            <li><a href="#">Cecilia de Rafael Vidrio Open </a></li>
            <li><a href="#">Cecilia de Rafael Eterno 15 Bas</a></li>
            <li><a href="#">Gabriella Gold line 15</a></li>
            <li><a href="#">Giulia Blues 70</a></li>
            <li><a href="#">Cecilia de Rafael Eterno 15</a></li>


         </ul>
      </div>
   </div>

   <div class="box ">
      <div class="box__head">
         <div class="box__icon">
            <svg class="icon icon-list">
               <use xlink:href="img/sprite.svg#list"></use>
            </svg>
         </div>
         <div class="box__title">Опрос</div>
      </div>
      <div class="box__body">
         <div class="mb-3 font-500">Ваши пожелания</div>

         <p class="mb-4">Что по Вашему мнению необходимо улучшить, изменить на сайте? Мы будем рады узнать ваше мнение!</p>
         <button class="btn btn--block _open-modal" data-href="#popup-survey">ПРОЙТИ ОПРОС</button>
      </div>
   </div>

   <div class="box ">
      <div class="box__head">
         <div class="box__icon">
            <svg class="icon icon-list">
               <use xlink:href="img/sprite.svg#list"></use>
            </svg>
         </div>
         <div class="box__title">Сертификаты</div>
      </div>
      <div class="box__body">

         <div class="certificate">
            <div class="certificate__img">

               <img src="img/certificate.webp" alt="">

            </div>
            <div class="certificate__content">
               <div class="certificate__title">
                  Подарочные сертификаты на
                  любую сумму
               </div>
               <div class="certificate__button">
                  <a href="#" class="btn">УЗНАТЬ ПОДРОБНЕЕ</a>
               </div>
            </div>
         </div>
      </div>
   </div>


   <div class="widget">
      <img src="img/widget-vk.jpg" alt="">
   </div>
   }
   @@if(context.login == true) {
   <div class="box  hidden-md">
      <div class="box__head">
         <div class="box__icon">
            <svg class="icon icon-user">
               <use xlink:href="img/sprite.svg#user"></use>
            </svg>
         </div>
         <div class="box__title">Личный кабинет</div>
      </div>
      <div class="box__body">
         <div class="size-md mb-4">Здравствуйте, Константин</div>
         <div class="user-certificate mb-4">
            <img src="img/certificate.webp" alt="">
         </div>

         <div class="promocode size-md  mb-4 text-center">
            <div class="font-700 mb-2 ttu size-md">промокод</div>
            <div class="mb-2 promocode__wrap">
               <div class="copy-wrapper _copy-wrapper">
                  <span class="promocode__code _copy-text">new199901</span>
                  <span class="copy-label _copy-show" style="display: none;">Промокод скопирован</span>
                  <button class="copy _copy">
                     <svg class="icon icon-copy">
                        <use xlink:href="img/sprite.svg?3#copy"></use>
                     </svg>
                  </button>
               </div>
            </div>
            <div class="color-gray italic">действует до 01.02.2025</div>
         </div>

         <ul class="user-menu">
            <li><a href="#">Мои данные</a></li>
            <li><a href="#popup-subscribe" class="_open-modal">Подписка sms</a></li>
            <li><a href="#">Мои Заказы</a></li>
            <li><a href="#">Партнерская программа</a></li>
            <li><a href="#">Избранное</a></li>
            <li><a href="#">Корзина</a></li>
         </ul>

         <div class="mt-4">
            <button class="btn">ВЫЙТИ</button>
         </div>
      </div>
   </div>
   }
</aside>