<div class="subscribe d-flex flex-xl-row flex-column align-items-center justify-content-center gap-xl-6 gap-4">
   <div class="subscribe__head d-flex align-items-center gap-xl-5 gap-4">
      <img src="img/subscribe-icon.svg" alt="">
      <h2 class="subscribe__title">Подписка на рассылку новинок и промо-кодов</h2>
   </div>
   <div class="subscribe__form">
      <form action="#" class="d-flex flex-md-row flex-column  align-items-center gap-4">
         <div class="form-field mb-0">
            <div class="form-wrapper">
               <span class="form-placeholder form-placeholder--bg-white">введите ваш e-mail</span>
               <input type="text" class="form-input form-input--warning" placeholder="">
            </div>
         </div>
         <button class="btn btn-sm-block" type="submit">ПОДПИСАТЬСЯ</button>
      </form>
      <div style="display: none;">
         <div class="alert d-flex align-items-start gap-2">
            <div class="alert__icon">
               <img src="img/flash-sale-not-alt.svg" alt="">
            </div>
            <div class="alert__body align-self-center">
               <div class="mb-1"><strong>Спасибо за подписку!</strong></div>
               Проверьте почту — отправили письмо-подтверждение
            </div>

         </div>
      </div>
   </div>
</div>