<header class="header">
  <div class="header__top">
    <div class="header__container container">
      <a href="#" class="header__logo logo">
        <div class="logo__wrap">
          <img src="img/logo2.png" alt="">
          <span>.рф</span>
        </div>
        <div class="logo__slogan">колготки и нижнее белье</div>
      </a>

      <div class="header__info top-info">
        <div class="top-info__row d-flex align-items-center justify-content-between">
          <div class="country">
            <svg class="icon icon-marker2">
              <use xlink:href="img/sprite.svg#marker2"></use>
            </svg>
            <span>Москва</span>
            <a href="#">изменить</a>
          </div>
          <a href="#" class="favorite-button">
            <svg class="icon icon-heart">
              <use xlink:href="img/sprite.svg#heart"></use>
            </svg>
            <span>Избранное</span>
          </a>
        </div>

        <a href="#" class="top-info__shopping-bag top-shopping-bag">
          <div class="top-shopping-bag__icon">
            <svg class="icon icon-shopping-bag">
              <use xlink:href="img/sprite.svg#shopping-bag"></use>
            </svg>
          </div>
          <div class="top-shopping-bag__content">
            <div class="top-shopping-bag__title">Ваша корзина:</div>
            <div class="top-shopping-bag__price">20 шт. на сумму <span class="rub">100.000</span></div>
          </div>
          <div class="top-shopping-bag__text">
            Работаем для вас 19 лет!
          </div>
        </a>
      </div>
      <div class="header__actions top-actions">
        <a href="#" class="top-action">
          <svg class="icon icon-heart">
            <use xlink:href="img/sprite.svg#heart"></use>
          </svg>
        </a>
        <button class="top-action _open-modal" data-href="#offcanvas-search">
          <svg class="icon icon-zoom">
            <use xlink:href="img/sprite.svg#zoom"></use>
          </svg>
        </button>
        <a href="#" class="top-action">
          <svg class="icon icon-shopping-bag2">
            <use xlink:href="img/sprite.svg#shopping-bag2"></use>
          </svg>
        </a>
        <button class="top-action _open-modal" data-href="#offcanvas-navbar">
          <svg class="icon icon-menu">
            <use xlink:href="img/sprite.svg#menu"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <nav class="header__navbar navbar">
    <div class="container">
      <ul class="navbar-menu">
        <li class="navbar-menu__item">
          <a href="catalog.html" class="navbar-menu__link">НОВИНКИ</a>
        </li>
        <li class="navbar-menu__item">
          <a href="delivery.html" class="navbar-menu__link">ДОСТАВКА И ОПЛАТА</a>
        </li>
        <li class="navbar-menu__item">
          <a href="stock.html" class="navbar-menu__link">СКИДКИ И АКЦИИ</a>
        </li>
        <li class="navbar-menu__item">
          <a href="blog.html" class="navbar-menu__link">Журнал</a>
        </li>
        <li class="navbar-menu__item">
          <a href="about-us.html" class="navbar-menu__link">О нас</a>
        </li>
        <li class="navbar-menu__item">
          <a href="#" class="navbar-menu__link">Фото и видео</a>
        </li>
        <li class="navbar-menu__item">
          <a href="reviews.html" class="navbar-menu__link">ОТЗЫВЫ О ТОВАРАХ</a>
        </li>
        <li class="navbar-menu__item">
          <a href="contacts.html" class="navbar-menu__link">КОНТАКТЫ</a>
        </li>

      </ul>
    </div>
  </nav>
</header>