<div id="popup-card-slider" class="_modal popup popup--image ">
	<div class="popup__body _modal__content">
		<div class="popup__close _close-modal">
			<svg class="icon icon-close">
				<use xlink:href="img/sprite.svg#close"></use>
			</svg>
		</div>
		<div class="popup__container">
			<div class="popup-swiper">
				<div class="swiper ">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<figure>
								<img src="img/img-1.jpg" alt="">
							</figure>
						</div>
						<div class="swiper-slide">
							<figure>
								<img src="img/product-img2.png" alt="">
							</figure>
						</div>
						<div class="swiper-slide">
							<figure>
								<img src="img/product-img.jpg" alt="">
							</figure>
						</div>
						<div class="swiper-slide">
							<figure>
								<img src="img/product-img.jpg" alt="">
							</figure>
						</div>
					</div>
				</div>
				<div class="swiper-button-prev popup-swiper__prev hidden-iphone"></div>
				<div class="swiper-button-next popup-swiper__next hidden-iphone"></div>
			</div>

			<div class="swiper popup-swiper-thumbs">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="img/img-1.jpg" alt="">
					</div>
					<div class="swiper-slide">
						<img src="img/product-img2.png" alt="">
					</div>
					<div class="swiper-slide">
						<img src="img/product-img.jpg" alt="">
					</div>
					<div class="swiper-slide">
						<img src="img/product-img.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>