<div id="offcanvas-catalog" class="_modal offcanvas offcanvas--end">
  <div class="offcanvas__overlay">
    <div class="offcanvas__content _modal__content">
      <div class="offcanvas__header ">
        <button class="offcanvas__back _open-modal" data-href="#offcanvas-navbar">
          <svg class="icon icon-arrow-left">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
          Каталог
        </button>

        <button class="top-action _close-modal active">
          <svg class="icon icon-close2">
            <use xlink:href="img/sprite.svg#close2"></use>
          </svg>
        </button>
      </div>
      <div class="offcanvas__body offcanvas-catalog">


      </div>
    </div>
  </div>

</div>