<div id="offcanvas-filter" class="_modal offcanvas offcanvas--end">
  <div class="offcanvas__overlay">
    <div class="offcanvas__content _modal__content">
      <div class="offcanvas__header justify-content-end">
        <button class="top-action _close-modal active">
          <svg class="icon icon-close2">
            <use xlink:href="img/sprite.svg#close2"></use>
          </svg>
        </button>
      </div>
      <div class="offcanvas__body">

        <div class="form-wrapper mb-4">
          <span class="form-placeholder">Марка</span>
          <select class="form-select form-select--light" data-placeholder="">
            <option></option>
            <option>Марка 1</option>
            <option>Марка 2</option>
            <option>Марка 1</option>
            <option>Марка 2</option>
            <option>Марка 1</option>
            <option>Марка 2</option>
          </select>
        </div>

        <div class="form-wrapper mb-4">
          <span class="form-placeholder">Размер</span>
          <select class="form-select form-select--light" data-placeholder="">
            <option></option>
            <option>Марка</option>
            <option>Марка 2</option>
          </select>
        </div>

        <div class="form-wrapper mb-4">
          <span class="form-placeholder">Цвет</span>
          <select class="form-select form-select--light" data-placeholder="">
            <option></option>
            <option>Марка</option>
            <option>Марка 2</option>
          </select>
        </div>

        <div class="form-wrapper mb-4">
          <span class="form-placeholder">Составы</span>
          <select class="form-select form-select--light" data-placeholder="">
            <option></option>
            <option>Марка</option>
            <option>Марка 2</option>
          </select>
        </div>

        <div class="form-wrapper mb-4">
          <span class="form-placeholder">Цена</span>
          <select class="form-select form-select--light" data-placeholder="">
            <option></option>
            <option>Марка</option>
            <option>Марка 2</option>
          </select>
        </div>

        <div class="form-wrapper mb-4">
          <span class="form-placeholder">Подкатегория</span>
          <select class="form-select form-select--light" data-placeholder="">
            <option></option>
            <option>Марка</option>
            <option>Марка 2</option>
          </select>
        </div>

        <div class="form-wrapper mb-4">
          <span class="form-placeholder">Сортировать по</span>
          <select class="form-select form-select--light" data-placeholder="">
            <option></option>
            <option>Марка</option>
            <option>Марка 2</option>
          </select>
        </div>

        <button class="btn btn--danger btn--block">ПОКАЗАТЬ</button>

      </div>
    </div>
  </div>
</div>
</div>

</div>