<div id="popup-forgot-password" class="_modal popup">
   <div class="popup__body">
      <div class="popup__content _modal__content">
         <div class="popup__close _close-modal">
            <svg class="icon icon-close">
               <use xlink:href="img/sprite.svg#close"></use>
            </svg>
         </div>
         <div class="popup__head">
            <div class="fg-password">

               <h3 class="font-500 size-lg mb-4">Забыли пароль?</h3>

               <p>Введите E-mail, который был указан при регистрации и вам будет отправлен логин и пароль.</p>

               <form action="#" class="mt-5 mb-5">
                  <div class="d-flex flex-sm-row flex-column align-items-center gap-3">
                     <div class="form-field flex-sm-1 w-full mb-0">
                        <input type="email" class="form-input form-input--warning" placeholder="Ваш e-mail" required>
                     </div>
                     <button class="btn btn-xs-block" type="submit">ОТПРАВИТЬ</button>
                  </div>
               </form>
               <a href="#" class="link ">Регистрация</a>
            </div>

            <div class="feedback-message" style="display: none;">
               <h3 class="font-500 size-lg ">На ваш почтовый ящик выслано письмо, содержащее ваш логин и пароль</h3>
            </div>

         </div>
      </div>
   </div>
</div>