<div id="popup-login" class="_modal popup ">
  <div class="popup__body">
    <div class="popup__content _modal__content">
      <div class="popup__close _close-modal">
        <svg class="icon icon-close">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </div>

      <div class="popup-box-head">
        <img src="img/shopping-bag.svg" alt="">
        Личный кабинет
      </div>

      <form action="#">
        <div class="form-field">
          <input type="text" placeholder="Логин" class="form-input form-input--lg">
        </div>
        <div class="form-field">
          <input type="password" placeholder="Пароль" class="form-input form-input--lg">
        </div>
        <div class="d-flex align-items-center justify-content-between mt-3">
          <label class="checkbox checkbox--warning">
            <input type="checkbox" checked />
            <span class="checkbox__text">Запомнить</span>
          </label>

        </div>

        <div class="d-flex align-items-center justify-content-between gap-2 mt-3 mb-3">
          <a href="#" class="link size-m">Регистрация</a> <span>|</span>
          <a href="#popup-forgot-password" class="link size-m _open-modal">Забыли пароль?</a>
        </div>
        <button type="submit" class="btn btn--block">
          ВОЙТИ
        </button>
      </form>



    </div>
  </div>
</div>