<div id="offcanvas-navbar" class="_modal offcanvas offcanvas--end">
	<div class="offcanvas__overlay">
		<div class="offcanvas__content _modal__content">
			<div class="offcanvas__header ">
				<div class="country ">
					<svg class="icon icon-marker2">
						<use xlink:href="img/sprite.svg#marker2"></use>
					</svg>

					<span>
						<div>Москва</div>
						<a href="#">изменить</a>
					</span>
				</div>
				<button class="top-action _close-modal active">
					<svg class="icon icon-close2">
						<use xlink:href="img/sprite.svg#close2"></use>
					</svg>
				</button>
			</div>
			<div class="offcanvas__body">

				<button class="btn btn--block btn--lg btn-catalog  mb-3 _open-modal" data-href="#offcanvas-catalog">
					<svg class="icon icon-menu">
						<use xlink:href="img/sprite.svg#menu"></use>
					</svg>
					Каталог
				</button>

				<ul class="m-menu">
					<li class="m-menu__item">
						<a href="#" class="m-menu__link">НОВИНКИ</a>
					</li>
					<li class="m-menu__item">
						<a href="#" class="m-menu__link">ДОСТАВКА И ОПЛАТА</a>
					</li>
					<li class="m-menu__item">
						<a href="#" class="m-menu__link">СКИДКИ И АКЦИИ</a>
					</li>
					<li class="m-menu__item">
						<a href="#" class="m-menu__link">ОТЗЫВЫ О ТОВАРАХ</a>
					</li>
					<li class="m-menu__item">
						<a href="#" class="m-menu__link">КОНТАКТЫ</a>
					</li>
					<li class="m-menu__item ">
						<a href="#popup-login" class="m-menu__link _open-modal">
							<span class="m-menu__icon">
								<svg class="icon icon-login">
									<use xlink:href="img/sprite.svg#login"></use>
								</svg>
							</span>
							ЛИЧНЫЙ КАБИНЕТ</a>
					</li>
					<li class="m-menu__item ">
						<a href="#popup-status" class="m-menu__link _open-modal">
							<span class="m-menu__icon">
								<svg class="icon icon-voice">
									<use xlink:href="img/sprite.svg#voice"></use>
								</svg>
							</span>
							Статус /
							Оплата заказа</a>
					</li>
					<li class="m-menu__item ">
						<a href="#" class="m-menu__link ">
							<span class="m-menu__icon">
								<svg class="icon icon-heart">
									<use xlink:href="img/sprite.svg#heart"></use>
								</svg>
							</span>
							ИЗБРАННОЕ</a>
					</li>
					<li class="m-menu__item ">
						<a href="#popup-survey" class="m-menu__link _open-modal">
							<span class="m-menu__icon">
								<svg class="icon icon-list">
									<use xlink:href="img/sprite.svg#list"></use>
								</svg>
							</span>
							Опрос</a>
					</li>

				</ul>

				<div class="m-button mt-4">
					<a href="" class="btn btn--primary btn--block">
						<svg class="icon icon-whatsapp">
							<use xlink:href="img/sprite.svg#whatsapp"></use>
						</svg>
						НАПИСАТЬ В WHATSAPP
					</a>
				</div>
			</div>
		</div>
	</div>

</div>