<div id="popup-notify" class="_modal popup ">
  <div class="popup__body">
    <div class="popup__content _modal__content">
      <div class="popup__close _close-modal">
        <svg class="icon icon-close">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </div>
      <div class="notify-form">
        <h3 class="font-500 size-xxl mb-4 text-center">Уведомить о поступлении</h3>

        <div class="font-500 mb-3">Cecilia del rafael Inferno 16</div>

        <form action="#">
          <div class="row gx-2 gy-0 mb-1">
            <div class="col-sm-6">
              <div class="mb-3">
                <input type="text" class="form-input form-input--lg" placeholder="Цвет">
              </div>
              <div class="mb-3">
                <input type="text" class="form-input form-input--lg" placeholder="Размер">
              </div>
              <div class="mb-3">
                <input type="text" class="form-input form-input--lg" placeholder="Ваш WhatsApp">
              </div>
            </div>

            <div class="col-sm-6">
              <div class="mb-3">
                <input type="email" class="form-input form-input--lg" placeholder="Ваш e-mail">
              </div>
              <div class="mb-3">
                <textarea class="form-input form-input--lg" placeholder="Ваш вопрос" rows="3" style="--input-height: 11.5rem"></textarea>
              </div>
            </div>
            <div class="col-12">
              <label class="checkbox checkbox--warning mb-3">
                <input type="checkbox" checked />
                <span class="checkbox__text color-gray"><a href="#">Соглашаюсь получать новости, обновления, информацию о скидках и специальных предложениях магазина по SMS</a></span>
              </label>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn--block btn--lg">
                СОХРАНИТЬ
              </button>
            </div>
          </div>

        </form>
      </div>
      <div class="feedback-message" style="display: none;">
        <h3 class="font-500 size-lg ">Заявка отправлена. Спасибо</h3>
      </div>
    </div>


  </div>
</div>