<div id="popup-status" class="_modal popup ">
  <div class="popup__body">
    <div class="popup__content _modal__content">
      <div class="popup__close _close-modal">
        <svg class="icon icon-close">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </div>
      <div class="popup-box-head">
        <img src="img/megaphone.svg" alt="">
        Статус и оплата заказа
      </div>

      <form action="#">
        <div class="form-field">
          <input type="text" placeholder="Номер заказа" class="form-input form-input--lg">
        </div>
        <div class="form-field">
          <input type="tel" placeholder="Телефон" class="form-input form-input--lg">
        </div>
        <div class="d-flex align-items-center mt-3 mb-3 gap-2">

          <a href="#" class="link size-m">Не знаете номер заказа?</a>
        </div>
        <button type="submit" class="btn btn--block">
          ОТПРАВИТЬ
        </button>
      </form>

    </div>
  </div>
</div>