<div id="popup-subscribe" class="_modal popup ">
  <div class="popup__body">
    <div class="popup__content _modal__content">
      <div class="popup__close _close-modal">
        <svg class="icon icon-close">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </div>

      <h3 class="font-500 size-lg mb-4 text-center">Подписка sms/email</h3>
      <form action="#">
        <div class="d-flex align-items-center justify-content-between mt-3">
          <label class="checkbox checkbox--warning size-lg">
            <input type="checkbox" checked />
            <span class="checkbox__text">Соглашаюсь получать новости, обновления, информацию о скидках и специальных предложениях магазина по SMS</span>
          </label>

        </div>
        <div class="text-center mt-4">
          <button type="submit" class="btn ">
            СОХРАНИТЬ
          </button>
        </div>
      </form>
    </div>
  </div>
</div>