<div id="popup-survey" class="_modal popup" style="--popup-width: 72rem">
  <div class="popup__body">
    <div class="popup__content _modal__content">
      <div class="popup__close _close-modal">
        <svg class="icon icon-close">
          <use xlink:href="img/sprite.svg#close"></use>
        </svg>
      </div>
      <h2 class="popup__title">Опрос</h2>
      <p class="mb-4">Что по Вашему мнению необходимо улучшить и/или изменить на сайте? Пожалуйста, оставьте Ваш e-mail для ответа.</p>

      <form action="#">
        <div class="row g-md-2 g-1">
          <div class="col-12">
            <textarea class="form-input" placeholder="Ваш ответ" rows="6"></textarea>
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-input form-input--lg" placeholder="Ваш e-mail*">
          </div>
          <div class="col-sm-6">
            <button class="btn btn--block btn--lg" type="submit">ОТПРАВИТЬ</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>