<!DOCTYPE html>
<html lang="ru">

@@include('./template/_head.html', {
"title": "Home"
})

<body class="loaded">
   <!-- BEGIN main wrapper -->
   <div class="main-wrapper">

      <!-- BEGIN HEADER -->
      @@include('./template/_header2.html', {
      "nav": 0,
      "user": 0,
      })
      <!-- HEADER EOF   -->

      <!-- BEGIN MAIN -->
      <main class="main">
         <div class="container">
            <div class="main__wrap">
               @@include('./template/blocks/aside-left.html')
               <div class="main__content">


                  <div class="box">
                     <div class="box__head">
                        <div class="box__icon">
                           <svg class="icon icon-langs">
                              <use xlink:href="img/sprite.svg#langs"></use>
                           </svg>
                        </div>
                        <h1 class="box__title">Fiore Palome</h1>
                     </div>
                     <div class="box__body">
                        <div class="head gap-4 d-flex align-items-center justify-content-between " data-da="main__content, first, 767">
                           <div class="breadcrumbs">
                              <a href="#" class="breadcrumbs__link">Главная</a>
                              <span class="breadcrumbs__devider">&gt;</span>
                              <a href="#" class="breadcrumbs__link">колготки классика</a>
                              <span class="breadcrumbs__devider">&gt;</span>
                              <span class="breadcrumbs__item">Fiore Palome</span>
                           </div>

                        </div>

                        <div class="card">
                           <div class="card__left">
                              <div class="card__img">
                                 <div class="card__img-active " id="card-img">
                                    <img src="img/img-1.jpg" alt="" class="_open-modal js-gallery-item" data-href="#popup-card-slider">
                                    <div class="card-actions__button gap-4 alig-items-center visible-sm">
                                       <button class="size-btn" data-tippy-content-popover data-template="sizes" data-tippy-placement="top">
                                          <img src="img/size.svg" alt="" class="hidden-sm">
                                          <img src="img/size-white.svg" alt="" class="visible-sm">
                                       </button>

                                       <div style="display: none;">
                                          <div id="sizes">
                                             <button class="tuppy-close">
                                                <svg class="icon icon-close">
                                                   <use xlink:href="img/sprite.svg#close"></use>
                                                </svg>
                                             </button>
                                             <img src="img/size.jpg" alt="">

                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="card__img-thubnails js-gallery">
                                    <div class="js-gallery-item _active _open-modal" data-href="#popup-card-slider">
                                       <img src="img/img-1.jpg" class="thumbnails " alt="">
                                    </div>
                                    <div class="js-gallery-item _open-modal" data-href="#popup-card-slider">
                                       <img src="img/product-img2.png" class="thumbnails" alt="">
                                    </div>
                                    <div class="js-gallery-item _open-modal" data-href="#popup-card-slider">
                                       <img src="img/product-img.jpg" class="thumbnails" alt="">
                                    </div>
                                    <div class="js-gallery-item _open-modal" data-href="#popup-card-slider">
                                       <img src="img/product-img.jpg" class="thumbnails" alt="">
                                    </div>
                                 </div>
                              </div>
                           </div>

                           <div class="card__content">
                              <div class="card__head d-flex flex-md-row flex-column  gap-3 alig-items-start justify-content-between">

                                 <div class="card-details">
                                    <ul>
                                       <li><strong>Артикул для заказа:</strong> 294286</li>
                                       <li><strong>Марка:</strong> <a href="#">Fiore</a></li>
                                       <li><strong>Производство:</strong> Польша. Произведено в ЕС</li>
                                       <li><strong>Плотность:</strong> 20 den</li>
                                       <li><strong>Состав:</strong> 82% полиамид, 14% эластан, 4% хлопок</li>
                                    </ul>
                                 </div>

                                 <span class="card__price rub font-700">450</span>
                              </div>


                              <div class="card-actions mt-md-5" data-da="card__foot, first, 767">
                                 <div class="d-flex flex-wrap gap-2 mb-3">
                                    <div class="min-250 flex-1">
                                       <select class="form-select" data-placeholder="Выберите цвет">
                                          <option></option>
                                          <option>белый</option>
                                          <option>чорный</option>
                                       </select>
                                       <div class="form-message _error">
                                          <svg class="icon icon-info-circle">
                                             <use xlink:href="img/sprite.svg#info-circle"></use>
                                          </svg> заполните поле
                                       </div>
                                    </div>
                                    <div class="min-250 flex-1">
                                       <select class="form-select" data-placeholder="Выберите размер">
                                          <option></option>
                                          <option>13</option>
                                          <option>14</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="d-flex align-items-center justify-content-between gap-3 mt-2">
                                    <div class="card-actions__button d-flex gap-4 alig-items-center ">
                                       <button class="size-btn hidden-sm">
                                          <img src="img/size.svg" alt="">
                                       </button>

                                       <button class="favorite-btn _toggle-action">
                                          <svg class="icon icon-heart">
                                             <use xlink:href="img/sprite.svg#heart"></use>
                                          </svg>
                                       </button>
                                    </div>
                                    <div class="count flex-1">
                                       <div class="count__title hidden-sm">Кол-во</div>
                                       <input class="count__value form-input " data-counter-val value="0" />

                                       <button class="btn btn--block">В КОРЗИНУ</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="card__foot visible-sm"></div>
                        </div>

                        @@include('./template/blocks/card-tabs.html')
                     </div>
                  </div>

                  <div class="box">
                     <div class="box__head">
                        <div class="box__icon">
                           <svg class="icon icon-magazine">
                              <use xlink:href="img/sprite.svg#magazine"></use>
                           </svg>
                        </div>
                        <div class="box__title">Лидеры продаж в подкатегории классика 13-40 ден</div>
                     </div>
                     <div class="box__body">
                        <div class="products">
                           {% for product in range(0,10) %}
                           <div class="products__item">
                              <a href="#" class="product">
                                 <picture class="product__img">
                                    <img src="img/product-img.jpg" alt="">
                                 </picture>
                                 <div class="product__title">Palome</div>
                              </a>
                           </div>
                           {% endfor %}


                        </div>
                     </div>
                  </div>
                  <div class="box">
                     <div class="box__head">
                        <div class="box__icon">
                           <svg class="icon icon-magazine">
                              <use xlink:href="img/sprite.svg#magazine"></use>
                           </svg>
                        </div>
                        <div class="box__title">Другие товары от Fiore</div>
                     </div>
                     <div class="box__body">
                        <div class="products">
                           {% for product in range(0,10) %}
                           <div class="products__item">
                              <a href="#" class="product">
                                 <picture class="product__img">
                                    <img src="img/product-img.jpg" alt="">
                                 </picture>
                                 <div class="product__title">Palome</div>
                              </a>
                           </div>
                           {% endfor %}


                        </div>
                     </div>
                  </div>



               </div>
               @@include('./template/blocks/aside-right.html')
            </div>

            @@include('./template/blocks/subscribe.html')
         </div>
      </main>
      <!-- MAIN EOF   -->

      <!-- BEGIN FOOTER -->
      @@include('./template/_footer.html', {})
      <!-- FOOTER EOF   -->

   </div>
   <!-- main wrapper EOF   -->

   <!-- BEGIN POPUPS -->
   @@include('./template/popups/search.html')
   @@include('./template/popups/navbar.html')
   @@include('./template/popups/forgot_password.html')
   @@include('./template/popups/card_slider.html')
   <!-- POPUPS EOF   -->

   @@include('./template/_js.html', {})

</body>

</html>